.omino {
    position: relative; left: 29px; font-size: 34px;
}

#pallino {
width: 12px;
height: 12px;
background: red;
border-radius: 6px;
position: relative;
top: -39px;
left: -18px;
}

#tempo{
    margin: 0px; margin-right: 10px;
}

.title {
    font-size: 19px !important;
}