footer{
    position: fixed !important;
    bottom: 41px !important;
    right: 0px;
    left: 0px;
    background-color: inherit !important;
}

.avanti{
    font-size: 41px;
}

.form{
    margin-top: 131px !important;
}